@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
		margin: 0;
		padding: 0;
}
*:focus {
    outline: none;
}

:root {
  --primary: #1bc7ab;
  --grey: #454545;
  --primary-dark: #0da58c;
  --lightgrey: #666;
  --text-light: #fff;
  --shadow: #1bc7ab33;
}
.container,
.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;
}
.box img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
	object-fit: cover;
	object-position: 50% 50%;
}

.container {
  border: 2px solid #F2F2F2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 6px 10px #0002;
}
.content {
  padding: 16px 32px;
  flex: 4 1 40ch;
}
.tags {
  margin: 0 -8px;
}
.tag {
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--primary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.tag .iconify {
    font-size: 17px;
    margin-right: 5px;
}
.title {
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
.title a {
        border-bottom: 1px solid transparent;
    transition: border-bottom .3s ease;
}
.title:hover a {
    border-bottom: 1px dashed var(--grey)
}
.title a {
  text-decoration: none;
  color: inherit;
}
.metadata {
  margin: 0;
}
.rating {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: var(--primary);
}
.rating span {
  color: var(--grey);
}
.votes {
  font-size: 0.825em;
  font-style: italic;
  color: var(--lightgrey);
}
.save {
    transition-duration: .3s;
    transition-property: background-color, border-color, color, box-shadow;
  display: inline-flex;
  align-items: center;
  padding: 6px 14px 6px 12px;
  border-radius: 4px;
  border: 2px solid currentColor;
  color: var(--primary);
  background: none;
  cursor: pointer;
  font-weight: bold;
}
.buttons a {
  text-decoration: none;
}
.save:hover {
    background: var(--primary);
    border-color: var(--primary-dark);
    color: var(--text-light)
}
.save:focus {
    box-shadow: 0 0 0 5px var(--shadow);
}
.save svg {
  margin-right: 6px;
}
.save .iconify {
    font-size: 20px;
}
/* Body Layout */
* {
  box-sizing: border-box;
}

body {
  color: var(--grey);
  line-height: 1.55;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.big {
  width: clamp(320px, 80%, 850px);
  padding: 24px;
}
.search {
    margin-top: 40px;
    width: clamp(200px, 80%, 800px);
    display: flex;
    justify-content: center;
    border: 2px solid var(--primary);
    border-radius: 15px;
    transition: box-shadow .3s ease, border-color .3s ease;
}
.search:focus-within {
    box-shadow: 3px 3px 10px var(--shadow);
    border-color: var(--primary-dark)
}
.search .search_box {
    padding: 20px;
    border: none;
    border-radius: 15px;
    flex: 1;
}
.search .search_btn {
    border-radius: 0 12px 12px 0;
    border: none;
    padding: 0 clamp(20px, 5%, 30px);
    cursor: pointer;
    background: var(--primary);
    color: white;
    font-size: 16px;
}
.message {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #888;
}